{% extends "layout.html" %}
{% block content %}

<h2>Stok Giriş</h2>

<form method="POST" onsubmit="return confirm('Kaydedilsin mi?')">

<select name="urun" onchange="renkGetir(this)">
<option>Ürün seç</option>
{% for u in urun_dict.keys() %}
<option value="{{u}}">{{u}}</option>
{% endfor %}
</select>

<select name="renk" id="renk">
<option>Renk</option>
</select>

<input name="adet" type="number" placeholder="Adet">

<button class="btn green">Kaydet</button>

</form>

<script>
const data = {{ urun_dict | tojson }};

function renkGetir(el){
    let r = document.getElementById("renk");
    r.innerHTML="";

    data[el.value].forEach(x=>{
        let o=document.createElement("option");
        o.value=x;
        o.text=x;
        r.appendChild(o);
    });
}
</script>

{% endblock %}
