{% extends "layout.html" %}

{% block content %}

<h2>Stok Giriş - Üretimden</h2>

<form>

{% for i in range(1,11) %}
<div style="margin-bottom:10px;">

    <!-- ÜRÜN -->
    <select onchange="renkGetir(this, 'renk{{i}}')">
        <option value="">Ürün seç</option>

        {% for urun in urun_dict.keys() %}
            <option value="{{ urun }}">{{ urun }}</option>
        {% endfor %}

    </select>

    <!-- RENK -->
    <select id="renk{{i}}">
        <option>Renk seç</option>
    </select>

    <input type="number" placeholder="Adet">

</div>
{% endfor %}

<button class="btn green">Kaydet</button>

</form>

<!-- JS -->
<script>

const urunler = {{ urun_dict | tojson }};

function renkGetir(select, targetId) {
    const urun = select.value;
    const renkSelect = document.getElementById(targetId);

    renkSelect.innerHTML = "<option>Renk seç</option>";

    if (urunler[urun]) {
        urunler[urun].forEach(function(renk){
            let opt = document.createElement("option");
            opt.value = renk;
            opt.innerText = renk;
            renkSelect.appendChild(opt);
        });
    }
}

</script>

{% endblock %}
