{% extends "layout.html" %}

{% block content %}

<h2>Depo - Stok</h2>

<div style="margin-bottom:20px;">
    <a href="/urunler"><button class="btn green">Ürün Kartı</button></a>
    <a href="/stok-giris"><button class="btn green">Stok Giriş</button></a>
    <a href="/stok-cikis"><button class="btn red">Stok Çıkış</button></a>
    <a href="/stok-ozet"><button class="btn orange">Stok Özet</button></a>
</div>

<div class="card">
    <h3>Stok Kart Sayısı</h3>
    <p>0</p>
</div>

<div class="card">
    <h3>Bugünkü İşlem</h3>
    <p>0</p>
</div>

<div class="card">
    <h3>Son İşlemler</h3>
    <table border="1" width="100%">
        <tr>
            <th>Ürün</th>
            <th>Adet</th>
            <th>Tarih</th>
        </tr>
    </table>
</div>

{% endblock %}
