{% extends "layout.html" %}

{% block content %}

<h2>Ürün Kartları</h2>

<div class="card">
    <form method="POST">
        <input name="ad" type="text" placeholder="Ürün adı" required>
        <input name="renk" type="text" placeholder="Renk" required>
        <button class="btn green">Kaydet</button>
    </form>
</div>

<div class="card">
    <h3>Ürün Listesi</h3>

    <table border="1" width="100%">
        <tr>
            <th>Ürün</th>
            <th>Renk</th>
            <th>İşlem</th>
        </tr>

        {% for u in urunler %}
        <tr>
            <td>{{ u[1] }}</td>
            <td>{{ u[2] }}</td>
            <td>
                <a href="/urun-sil/{{ u[0] }}" onclick="return silOnay('Bu ürünü silmek istiyor musun?')">
    <button style="background:red;color:white;">Kayıt Sil</button>
            </a>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
